{% extends 'base/navbar.html.twig' %}


{% block body %}
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(images/gat.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Bienvenue</span>
                        <h1 class="mb-4">une variété de luxe prête à servir</h1>
                        <p class="mb-4 mb-md-5">Parce que la gourmandise réside dans l’exquise délicatesse du
                            palais <br> et dans la multiple subtilité du goût ,
                            <br> nous vous offrons un large éventail de douceurs !</p>
                        <p><a href="{{ path('categories.sale') }}"
                              class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Salé</a> <a
                                    href="{{ path('categories.sale') }}"
                                    class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Sucré</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(images/dessert-2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Bienvenue</span>
                        <h1 class="mb-4">goût irrésistible</h1>
                        <p class="mb-4 mb-md-5">Parce que la gourmandise réside dans l’exquise délicatesse du
                            palais <br> et dans la multiple subtilité du goût ,
                            <br> nous vous offrons un large éventail de douceurs !</p>
                        <p><a href="{{ path('categories.sale') }}"
                              class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Salé</a> <a
                                    href="{{ path('categories.sucre') }}"
                                    class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Sucré</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(images/dessert-4.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Bienvenue</span>
                        <h1 class="mb-4">la meilleure expérience de dégustation</h1>
                        <p class="mb-4 mb-md-5">Parce que la gourmandise réside dans l’exquise délicatesse du
                            palais <br> et dans la multiple subtilité du goût ,
                            <br> nous vous offrons un large éventail de douceurs !</p>
                        <p><a href="{{ path('categories.sale') }}"
                              class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Salé</a> <a
                                    href="{{ path('categories.sucre') }}"
                                    class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Sucré</a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <span class="flaticon-choices"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">FACILE â commander</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <span class="flaticon-delivery-truck"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">LIVRAISON RAPIDE</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <img src="{{ asset('sucre/cake2.png') }}" height="70px" width="70px"></div>
                        <div class="media-body">
                            <h3 class="heading">produit de qualité</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 pr-md-5">
                    <div class="heading-section text-md-right ftco-animate">
                        <span class="subheading"> Découvrir</span>
                        <h2 class="mb-4">Notre gamme sucrée </h2>
                        <p class="mb-4">Parce que chaque évènement est exceptionnel, pause douceur s’est donné
                            pour mission d’apporter une touche gourmande unique et inoubliable !
                            Que ce soit pour de petits comités ou pour un grand rendez-vous, pause
                            douceur apporte le même engouement à la confection de pâtisseries sur
                            mesure et sait répondre à toute les attentes . cette gamme composée par
                            des pâtisseries traditionnels , petits gâteaux , gâteux fêtes et coffrets
                            vous fascinera par ses
                            Saveurs.</p>
                        <p><a href="{{ path('categories.sucre') }}"
                              class="btn btn-primary btn-outline-primary px-4 py-3">voir le catalogue</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(images/gate.jpg);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(images/dessert-2.jpg);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(images/dessert-6.jpg);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(images/mac.jpg);"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(images/burger-1.jpg);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(images/dish-2.jpg);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(images/image_3.jpg);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(images/bdegambas.jpeg);"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="heading-section text-md-right ftco-animate">
                        <span class="subheading"> Découvrir</span>
                        <h2 class="mb-4">Notre gamme salée </h2>
                        <p class="mb-4">Composée d’une grande variété de brochettes et des bouchées ,
                            La gamme pause douceur vous captivera par ses goûts ,ses textures et ses saveurs.
                            Épatez alors vos convives en réalisant des desserts dès l’apéritif.</p>
                        <p><a href="{{ path('categories.sale') }}"
                              class="btn btn-primary btn-outline-primary px-4 py-3">voir le catalogue</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'base/Footer.html.twig' %}
{% endblock %}
{% block javascripts %}
{% endblock %}