{% extends 'base/navbar.html.twig' %}
{% block title "Article" %}
{% block body %}
    <section class="home-slider owl-carousel">
        <div class="slider-item"
             style="background-image:{% if(article.categorie in ['Petits gâteaux' , 'Coffrets','Gâteaux fêtes','Pâtisserie traditionnelle']) %}
                     url({{ asset('images/ccc.png') }})
             {% else %}
                     url({{ asset('images/pi.jpg') }})
             {% endif %};" data-stellar-background-ratio="0.5">

            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">{{ article.nom }}</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('Home.index') }}">accueil</a></span>
                            <span>Article</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <img class="img-fluid image-popup" src="/images/articles/{{ article.image }}">
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ article.nom }}</h3>
                    <p class="price"><span>{{ article.formattedPrix }} Dt</span></p>
                    <p>{{ article.description }}</p>
                    {% if app.user.username is  not defined or app.user.username != 'admin' %}
                        <div class="row mt-4">

                            <form action="{{ path('panier.ajouterArticle', {'id': article.id}) }}" method="post">
                                <div class="w-100"></div>
                                <div class="input-group col-md-6 d-flex mb-3">

                                    <input name="quantite" class="form-control span1" min="1" type="number" required

                                            {% if article.categorie == 'Petit Gâteau' %}
                                           placeholder="Morceaux">

                                    {% elseif article.categorie == 'Coffret' %}
                                        placeholder="Coffrets"   >

                                    {% elseif article.categorie == 'Gâteau' %}
                                        placeholder="piece" >

                                    {% else %}
                                        placeholder="Kg" step="0.25" >
                                    {% endif %}

                                </div>
                                <input type="submit" class="btn btn-primary py-3 px-5" value="Ajouter Au Panier">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include 'base/Footer.html.twig' %}
    {% block javascripts %}

    {% endblock %}
{% endblock %}
