{% extends 'base/navbar.html.twig' %}


{% block body %}

    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(images/bpoulet.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">le Salé Fin</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('Home.index') }}">Accueil</a></span>
                            <span>Sucré</span> <span>Salé</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="ftco-menu mb-5 pb-5">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Découvrez</span>
                    <h2 class="mb-4">Nos produits</h2>
                    <p>Une sélection raffinée,à base d’ingrédients nobles faisant l’objet d’une sélection rigoureuse
                        s’adresse aux amoureux du croquant, du croustillant, du fondant. Un vrai délice à servir à vos
                        convives lors de vos réceptions &cérémonies.</p>
                </div>
            </div>
            <div class="row d-md-flex">
                <div class="col-lg-12 ftco-animate p-md-5">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab"
                                 role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1"
                                   role="tab" aria-controls="v-pills-1" aria-selected="true">Bouchées Traditionnelle</a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                                   aria-controls="v-pills-2" aria-selected="false">Bouchées froides</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                                   aria-controls="v-pills-3" aria-selected="false">Bouchées chaudes</a>

                                <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab"
                                   aria-controls="v-pills-4" aria-selected="false">Brochettes</a>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center">
                            <div class="tab-content ftco-animate" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                     aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        {% for articles in article1 %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="{{ path('article.show', {'id': articles.id, 'slug': articles.slug }) }}"
                                                       class="menu-img img mb-4"
                                                       style="background-image: url(images/articles/{{ articles.image }});width: 300px;
                                                               height: 271px;"></a>
                                                    <div class="text">
                                                        <h3><a href="#">{{ articles.nom }}</a></h3>

                                                        <p class="price"><span>{{ articles.prix }} Dt</span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                     aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        {% for articles2 in article2 %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="{{ path('article.show', {'id': articles2.id, 'slug': articles2.slug }) }}"
                                                       class="menu-img img mb-4"
                                                       style="background-image: url(images/articles/{{ articles2.image }});width: 300px;
                                                               height: 271px"></a>
                                                    <div class="text">
                                                        <h3><a href="#">{{ articles2.nom }}</a></h3>

                                                        <p class="price"><span>{{ articles2.prix }} Dt</span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel"
                                     aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        {% for articles3 in article3 %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="{{ path('article.show', {'id': articles3.id, 'slug': articles3.slug }) }}"
                                                       class="menu-img img mb-4"
                                                       style="background-image: url(images/articles/{{ articles3.image }});width: 300px;
                                                               height: 271px"></a>
                                                    <div class="text">
                                                        <h3><a href="#">{{ articles3.nom }}</a></h3>

                                                        <p class="price"><span>{{ articles3.prix }} Dt</span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-4" role="tabpanel"
                                     aria-labelledby="v-pills-4-tab">
                                    <div class="row">
                                        {% for articles4 in article4 %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="{{ path('article.show', {'id': articles4.id, 'slug': articles4.slug }) }}"
                                                       class="menu-img img mb-4"
                                                       style="background-image: url(images/articles/{{ articles4.image }});width: 300px;
                                                               height: 271px"></a>
                                                    <div class="text">
                                                        <h3><a href="#">{{ articles4.nom }}</a></h3>

                                                        <p class="price"><span>{{ articles4.prix }} Dt</span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </section>

    {% include 'base/Footer.html.twig' %}
{% endblock %}
{% block javascripts %}
{% endblock %}