{% extends 'base/navbar.html.twig' %}
{% block title 'Valider Mon Panier' %}
{% block body %}
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url({{ asset('images/validation.png') }});"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Modification des coordonnées</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('Home.index') }}">accueil</a></span>
                            <span>Modification des coordonnées</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section contact-section">
        <div class="container mt-5">
            <div class="col-md-6 ftco-animate contact-form billing-form ftco-bg-dark p-3 p-md-5"
                 style="margin-left: 250px">

                {{ form_start(form) }}
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_label(form.Adresse_email) }}</label>
                            {{ form_widget(form.Adresse_email) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_label(form.numeroDeTelephone) }}</label>
                            {{ form_widget(form.numeroDeTelephone) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ form_label(form.codePostal) }}</label>
                    {{ form_widget(form.codePostal) }}
                </div>
                <div class="form-group">
                    <label>{{ form_label(form.adresse) }}</label>
                    {{ form_widget(form.adresse) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword,"pour confirmer veillez saisir votre mots de passe  ") }}
                    {{ form_widget(form.plainPassword) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary py-3 px-5"> modifier</button>

                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </section>
    {% include 'base/Footer.html.twig' %}
{% endblock %}