{% extends 'base/navbar.html.twig' %}
{% block head %} {% endblock %}
{% block title 'Connexion' %}
{% block body %}
    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(images/cn.png);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Connexion</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('Home.index') }}">Accueil</a></span>
                            <span>Connexion</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section contact-section">
        <div class="container mt-5">
            <div class="row block-9 ">
                <div class="col-md-6 ftco-animate cart-detail cart-total ftco-bg-dark p-3 p-md-4"
                     style="margin-left: 250px">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post" class="contact-form ">

                        <div class="col-md-12">
                            <div class="form-group">
                                <input placeholder="Nom d'utilisateur" class="form-control" type="text" id="username"
                                       name="_username" value="{{ last_username }}"/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input placeholder="Mot de passe" class="form-control" type="password" id="password"
                                       name="_password"/>
                            </div>
                            <div style="margin-left: 300px">
                                <a href="{{ path('motDePasseOublie') }}">
                                    mot de passe oublié ?
                                </a>
                            </div>
                            <br>
                        </div>
                        <div class="row">

                            <div class="form-group col-6">
                                {% if(app.session.get('etat')) %}
                                    <input type="hidden" name="_target_path" value='/{{ app.session.remove('etat') }}'/>

                                {% else %}
                                    <input type="hidden" name="_target_path" value="/"/>
                                {% endif %}
                                <button class="btn btn-primary py-3 px-5" type="submit">Se connecter</button>

                            </div>
                            <div class="col-6">
                                <a href="{{ path('register') }}" class="btn btn-primary py-3 px-5">Créer un compte</a>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->

    {% include 'base/Footer.html.twig' %}
{% endblock %}