{% extends 'base/navbar.html.twig' %}
{% block head %} {% endblock %}
{% block title 'Créer un compte' %}
{% block body %}
    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(images/cn.png);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Création d'un Compte</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('Home.index') }}">Accueil</a></span>
                            <a href="{{ path('login') }}"> <span class="mr-2"> Connexion</span></a> <span>Création d'un Compte</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 ftco-animate" style="margin-left: 200px">
                    <div class="billing-form ftco-bg-dark p-3 p-md-5">
                        <h3 class="mb-4 billing-heading">Création d'un compte</h3>
                        {{ form_start(form) }}
                        <div class="row align-items-end">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ form_label(form.username,"Nom d'utilisateur ") }} <span
                                                style="color: red">*</span></label>

                                    {{ form_widget(form.username) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ form_label(form.numeroDeTelephone) }} <span
                                                style="color: red">*</span></label>

                                    {{ form_widget(form.numeroDeTelephone) }}
                                </div>
                            </div>


                            <div class="w-100"></div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>{{ form_label(form.Adresse_email) }} <span
                                                style="color: red">*</span></label>

                                    {{ form_widget(form.Adresse_email) }}
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ form_label(form.adresse) }} <span style="color: red">*</span></label>

                                    {{ form_widget(form.adresse) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ form_label(form.codePostal) }} <span style="color: red">*</span></label>

                                    {{ form_widget(form.codePostal) }}
                                </div>
                            </div>
                            <div class="w-100"></div>


                            <div class="col-md-12">
                                <div class="form-group">

                                    {{ form_widget(form.plainPassword) }}
                                </div>
                            </div>

                            <div class="w-100"></div>
                            <div class="col-md-12" style="margin-left: 500px;"> {{ form_widget(form.valider) }}</div>
                            <div><span style="color: red">*</span> champs requis</div>
                        </div>
                        {{ form_end(form) }}
                    </div><!-- END -->
                </div>
            </div>
        </div>
        </div>
    </section>
    {% include 'base/Footer.html.twig' %}
{% endblock %}