<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Pause Douceur  {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/icomoon.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">

    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

    <link rel="stylesheet" href="{{ asset('css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.timepicker.css') }}">


    <link rel="stylesheet" href="{{  asset('css/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path('Home.index') }}">Pause Douceur<small>Pâtesserie</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item
                  {% if (current_menu is defined and current_menu =="accueil") %}
                  active
                 {% endif %} "
                ><a href="{{ path('Home.index') }}" class="nav-link">Accueil</a></li>


                <li class="nav-item dropdown
                           {% if (current_menu is defined and current_menu =="categorie") %}
                              active
                            {% endif %} ">
                    <a class="nav-link dropdown-toggle " href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="{{ path('categories.sucre') }}">Sucré</a>
                        <a class="dropdown-item" href="{{ path('categories.sale') }}">Salé</a>

                    </div>
                </li>



                {% if not app.user %}
                <li class="nav-item
                            {% if (current_menu is defined and current_menu =="connexion") %}
                              active
                            {% endif %} "><a href="{{ path('login') }}" class="nav-link">Connexion</a></li>

                {% else   %}
                     {% if not is_granted('ROLE_ADMIN') %}
                         <li class="nav-item {% if (current_menu is defined and current_menu =="commande") %}
                              active
                            {% endif %}"><a href="{{ path('commande.commandes') }}" class="nav-link">Votre commandes</a></li>
                      {% endif %}
                    <li class="nav-item"><a href="{{ path('logout') }}" class="nav-link">Deconnexion</a></li>
                {% endif %}




                 {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {% if (current_menu is defined and current_menu =="Gerer article") %}
                              active
                            {% endif %}"><a href="{{ path('admin.article.index') }}" class="nav-link">Gérer les articles</a></li>
                    <li class="nav-item {% if (current_menu is defined and current_menu =="GererCommande") %}
                              active
                            {% endif %}"><a href="{{ path('admin.commande.index') }}" class="nav-link">Gérer les Commandes</a></li>
                {% else %}
                    <li class="nav-item
                            {% if (current_menu is defined and current_menu =="contact") %}
                              active
                            {% endif %}"> <a href="{{ path('contact.index') }}" class="nav-link">Contact</a></li>
                    <li class="nav-item cart" ><a href="{{ path('panier') }}" class="nav-link" style="height: 50px" ><span class="icon icon-shopping_cart" style="position:center"></span></a></li>

                 {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
{% block body %}{% endblock %}
{% block javascript %}{% endblock  %}

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/aos.js') }}"></script>
<script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('js/scrollax.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{ asset('js/google-map.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>