{% extends 'base/navbar.html.twig' %}
{% block head %} {% endblock %}
{% block title 'Editer un article' %}
{% block body %}
    <br>
    <br>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 ftco-animate" style="margin-left: 200px">
                    <div class="billing-form ftco-bg-dark p-3 p-md-5">
                        <h3 class="mb-4 billing-heading" align="center"></h3>
                        {{ form_start(form) }}
                        <div class="row align-items-end">

                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>{{ form_label(form.nom) }} <span style="color: red">*</span></label>

                                    {{ form_widget(form.nom) }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>{{ form_label(form.description) }} </label>

                                    {{ form_widget(form.description) }}

                                </div>
                            </div>


                            <div class="w-100"></div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>{{ form_label(form.prix) }} <span style="color: red">*</span></label>

                                    {{ form_widget(form.prix) }}
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>{{ form_label(form.categorie) }} <span style="color: red">*</span></label>

                                    {{ form_widget(form.categorie) }}
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>{{ form_label(form.imageFile) }} </label>

                                    {{ form_widget(form.imageFile) }}
                                </div>
                            </div>
                            <div class="w-100"></div>


                            <div class=" col-6" style="margin-left: 450px;"> {{ form_widget(form.Sauvegarder) }}</div>
                            <div><span style="color: red">*</span> champs requis</div>
                        </div>
                        {{ form_end(form) }}
                    </div><!-- END -->
                </div>
            </div>
        </div>
        </div>
    </section>
    <br>
    <br>
    {% include 'base/Footer.html.twig' %}
{% endblock %}