{% extends 'base/navbar.html.twig' %}
{% block head %} {% endblock %}
{% block title 'Gerer Nos Articles' %}
{% block body %}
    <br><br><br><br>
    <div class="container">
        <div class="ftco-bg-dark p-3 p-md-5">
            <div class="container" align="center">
                <h1>Gestion des articles</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>


            <section class="ftco-section ftco-cart">
                <div class="container">

                    <div class="row">
                        <div class="row" style="margin-left: 700px">
                            <div class="text-right col">
                                <a href="{{ path('admin.article.edit') }}" class="icon-plus-circle"> Ajouter
                                    article </a>
                            </div>
                        </div>
                        <br><br>
                        <div class=" ftco-animate" style="width: 100%">

                            <div class="col-md-12 ">
                                <table class="table">
                                    <thead class="thead-primary">
                                    <tr class="text-center">

                                        <th>Actions</th>
                                        <th>Nom de l'Article</th>
                                        <th>Catégories</th>


                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for article in articles %}
                                        <tr class="text-center">

                                            <td class="product-remove">
                                                <a href="{{ path('admin.article.edit', {id: article.id}) }}"
                                                   class="icon-edit"
                                                   style="width: 100px; height: 100px"></a>

                                                <a class=" icon-trash-o"
                                                   href="{{ path('admin.article.delete',{id: article.id}) }}"> </a>

                                            </td>


                                            <td class="product-name">
                                                <h3>{{ article.nom }}</h3>

                                            </td>

                                            <td class="product-name">{{ article.categorie }}</td>


                                        </tr><!-- END TR-->
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if nbPage is defined and nbPage >= 2 %}

                <div class="row" style="margin-left: 400px">
                    {% for p in 1..nbPage %}
                        <div class="col-1 "><a
                                    href="{{ path('admin.article.index', {'page': p}) }}">{{ p }}</a></div>

                    {% endfor %}

                </div>

            {% endif %}
        </div>
    </div>
    <br>
    {% include 'base/Footer.html.twig' %}
{% endblock %}